[Unit]
Description=Docker Compose App Service
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker compose -f /usr/update/current_docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /usr/update/current_docker-compose.yml down
Restart=always

[Install]
WantedBy=multi-user.target
