[submodule "poky"]
	path = repos/poky
	url = git://git.yoctoproject.org/poky
	branch = master
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = master
[submodule "repos/meta-virtualization"]
	path = repos/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = master
[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
	branch = master
[submodule "repos/meta-tegra-community"]
	path = repos/meta-tegra-community
	url = https://github.com/OE4T/meta-tegra-community
	branch = master
[submodule "repos/meta-iotedge"]
	path = repos/meta-iotedge
	url = https://github.com/Azure/meta-iotedge
[submodule "repos/meta-security"]
	path = repos/meta-security
	url = https://git.yoctoproject.org/meta-security
[submodule "repos/meta-clang"]
	path = repos/meta-clang
	url = https://github.com/kraj/meta-clang
[submodule "repos/meta-browser"]
	path = repos/meta-browser
	url = https://github.com/OSSystems/meta-browser.git
[submodule "repos/meta-tailscale"]
	path = repos/meta-tailscale
	url = https://github.com/ChristophHandschuh/meta-tailscale
[submodule "repos/meta-swupdate"]
	path = repos/meta-swupdate
	url = https://github.com/sbabic/meta-swupdate
