#
# SPDX-FileCopyrightText: Copyright (c) 2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.
#

# systemd file for nvidia-pva-allowd

[Unit]
Description=service for managing PVA allowlists

[Service]
ExecStart=/opt/nvidia/pva-allow-2/bin/nvidiaPvaAllowd.py
# Disable Python's buffering of STDOUT and STDERR, better for systemd logging
Environment=PYTHONUNBUFFERED=1
# Automatically restart the service if it crashes
Restart=on-failure

[Install]
# Automatically start this service when the system boots
WantedBy=default.target
